<?xml version="1.0" encoding="UTF-8"?><server>
<!--These elements have been identified from this application's configuration.-->
<featureManager>
<feature>jsp-2.3</feature>
<feature>ejbLite-3.2</feature>
<feature>ejbRemote-3.2</feature>
<feature>servlet-3.1</feature>
<feature>jndi-1.0</feature>
<feature>jdbc-4.1</feature>
</featureManager>
<httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>
<authData id="icpmasterNode01/DBUser-ORDERDB" password="???" user="admin"/>
<jdbcDriver id="DB2_Using_IBM_JCC_Driver_(XA)" javax.sql.DataSource="com.ibm.db2.jcc.DB2XADataSource">
        <library>
            <!-- <file name="${DB2_JCC_DRIVER_PATH}/db2jcc4.jar"/> --><file name="/config/lib/db2jcc4.jar"/>
            <!-- <file name="${UNIVERSAL_JDBC_DRIVER_PATH}/db2jcc_license_cu.jar"/> --><file name="/config/lib/db2jcc_license_cu.jar"/>
            <!-- <file name="${DB2_JCC_DRIVER_PATH}/db2jcc_license_cisuz.jar"/> --><file name="/config/lib/db2jcc_license_cisuz.jar"/>
            <!-- <file name="${PUREQUERY_PATH}/pdq.jar"/> --><file name="/config/lib/pdq.jar"/>
            <!-- <file name="${PUREQUERY_PATH}/pdqmgmt.jar"/> --><file name="/config/lib/pdqmgmt.jar"/>
        </library>
    </jdbcDriver>
<dataSource containerAuthDataRef="icpmasterNode01/DBUser-ORDERDB" id="OrderDS" jdbcDriverRef="DB2_Using_IBM_JCC_Driver_(XA)" jndiName="jdbc/orderds">
        <properties.db2.jcc beginTranForResultSetScrollingAPIs="false" beginTranForVendorAPIs="false" connectionSharing="1" databaseName="ORDERDB" enableClientInformation="false" enableMultithreadedAccessDetection="false" errorDetectionModel="ExceptionMapping" freeResourcesOnClose="false" jmsOnePhaseOptimization="false" name="OrderDS" nonTransactionalDataSource="false" portNumber="30586" preTestSQLString="SELECT CURRENT SQLID FROM SYSIBM.SYSDUMMY1" reauthentication="false" retrieveMessagesFromServerOnGetMessage="true" serverName="10.0.0.1" traceLevel="-1" unbindClientRerouteListFromJndi="false" useTransactionRedirect="false" validateNewConnection="false" validateNewConnectionRetryCount="100" validateNewConnectionRetryInterval="3"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="10" minPoolSize="0" reapTime="180"/>
    </dataSource>
<variable name="DB2_JCC_DRIVER_PATH" value="/home/skytap/Downloads/db2jar"/>
<variable name="DERBY_JDBC_DRIVER_PATH" value="${WAS_INSTALL_ROOT}/derby/lib"/>
<variable name="UNIVERSAL_JDBC_DRIVER_PATH" value="${WAS_INSTALL_ROOT}/universalDriver/lib"/>
<variable name="DB2_JCC_DRIVER_NATIVEPATH" value=""/>
<variable name="PUREQUERY_PATH" value=""/>
<!--These elements are from the profile level configuration. Not all of them may be necessary for your applicaiton.-->
<!--<dataSource containerAuthDataRef="icpmasterNode01/DBUser-ORDERDB" id="INDS" jdbcDriverRef="DB2_Using_IBM_JCC_Driver_(XA)" jndiName="jdbc/inds">
        <properties.db2.jcc beginTranForResultSetScrollingAPIs="false" beginTranForVendorAPIs="false" connectionSharing="1" databaseName="INDB" enableClientInformation="false" enableMultithreadedAccessDetection="false" errorDetectionModel="ExceptionMapping" freeResourcesOnClose="false" jmsOnePhaseOptimization="false" name="INDS" nonTransactionalDataSource="false" portNumber="30586" preTestSQLString="SELECT CURRENT SQLID FROM SYSIBM.SYSDUMMY1" reauthentication="false" retrieveMessagesFromServerOnGetMessage="true" serverName="10.0.0.1" traceLevel="-1" unbindClientRerouteListFromJndi="false" useTransactionRedirect="false" validateNewConnection="false" validateNewConnectionRetryCount="100" validateNewConnectionRetryInterval="3"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="10" minPoolSize="0" reapTime="180"/>
    </dataSource>--></server>